node_modules
unity*/Library/
unity*/Temp/
unity*/.idea/
unity*/Logs/
unity*/obj/
unity*/*.csproj
unityecs/Assets/ecs/*
tensorflowjs/demos/*/model/*
tensorflowjs/demos/*/dist/*
webpack/*/dist/*
threejs/**/dist/*
webpack/**/dist/*
reduxsaga/coverage/**/*
shadertoy/media/*
vertexshaderart/media/*
learnu3d/*/Library/
learnu3d/*/Temp/
learnu3d/*/.idea/
learnu3d/*/Logs/
learnu3d/*/obj/
learnu3d/*/*.csproj
reactwebpack4cook/dist/*
.DS_Store
