.dnd-rect {
    width: 200px;
    height: 40px;
    border: 2px solid #31d0c6;
    text-align: center;
    line-height: 40px;
    margin: 16px;
    cursor: move;
}

.dnd-rect1 {
    width: 200px;
    height: 40px;
    border: 2px solid pink;
    text-align: center;
    line-height: 40px;
    margin: 16px;
    cursor: move;
}

.dnd-rect2 {
    width: 200px;
    height: 40px;
    border: 2px solid blue;
    text-align: center;
    line-height: 40px;
    margin: 16px;
    cursor: move;
}

.dnd-rect3 {
    width: 200px;
    height: 40px;
    border: 2px solid green;
    text-align: center;
    line-height: 40px;
    margin: 16px;
    cursor: move;
}

.dnd-circle {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 2px solid #31d0c6;
    text-align: center;
    line-height: 60px;
    margin: 16px;
    cursor: move;
}
