#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gui::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0.1);
}
